@charset "UTF-8";
.grid:before,
.grid-full:before,
.grid:after,
.grid-full:after,
.cf:before,
ul.floated:before,
.cf:after,
ul.floated:after {
  content: " ";
  display: table;
}
.grid:after,
.grid-full:after,
.cf:after,
ul.floated:after {
  clear: both;
}

.grid {
  width: 100%;
  margin-left: -12px;
}

.grid-item {
  position: relative;
  width: 100%;
  padding-left: 24px;
  float: left;
}

.grid-full {
  margin-left: 0 !important;
  width: 100%;
}

.grid-item-full {
  position: relative;
  width: 100%;
  padding-left: 0 !important;
  float: left;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  height: 100%;
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
  color: #7f8c8d;
}

.container-small {
  position: relative;
  display: block;
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  padding: 0 12px;
}

.container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 12px;
}

.container-large {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 12px;
}

.one-whole {
  width: 100%;
}

.one-half {
  width: 50%;
}

@media screen and (min-width: 945px) {
  .lap-one-half {
    width: 50%;
  }
}

.one-third {
  width: 33.33333%;
}

@media screen and (min-width: 945px) {
  .lap-one-third {
    width: 33.33333%;
  }
}

.two-thirds {
  width: 66.66667%;
}

@media screen and (min-width: 945px) {
  .lap-two-thirds {
    width: 66.66667%;
  }
}

.one-quarter {
  width: 25%;
}

@media screen and (min-width: 945px) {
  .lap-one-quarter {
    width: 25%;
  }
}

.three-quarters {
  width: 75%;
}

@media screen and (min-width: 945px) {
  .lap-three-quarters {
    width: 75%;
  }
}

.one-sixth {
  width: 16.66667%;
}

@media screen and (min-width: 945px) {
  .lap-one-sixth {
    width: 16.66667%;
  }
}

input,
select {
  display: block;
  position: relative;
  width: 100%;
  padding: 12px;
  margin-bottom: 24px;
  background: #fff;
  border: 1px solid #eee;
  font-size: 12px;
  color: #666;
  outline: 0;
}
input:active, input:focus,
select:active,
select:focus {
  border: 1px solid #16a085;
}
@media screen and (min-width: 945px) {
  input,
  select {
    margin-bottom: 24px;
  }
}

label {
  display: block;
  position: relative;
  margin-bottom: 12px;
  font-size: 16px;
  color: #16a085;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
}

h1 {
  font-size: 36px;
}
@media screen and (min-width: 945px) {
  h1 {
    font-size: 70px;
    line-height: 92px;
  }
}

h2 {
  font-size: 24px;
}
@media screen and (min-width: 945px) {
  h2 {
    font-size: 36px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 400;
}
@media screen and (min-width: 945px) {
  h3 {
    font-size: 44px;
  }
}

h4 {
  font-size: 21px;
  line-height: 30px;
}

p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

p,
li,
span,
pre {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #2980b9;
  -moz-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
a:hover {
  color: #2980b9;
}

ul {
  margin-bottom: 0;
}

ul,
li {
  font-size: 16px;
  line-height: 24px;
  color: #7f8c8d;
  text-align: left;
}

ul.floated {
  padding-left: 0;
}
ul.floated li {
  font-size: 16px;
  display: inline-block;
  padding: 6px 12px;
  border: 3px solid #777;
  margin: 0 6px 6px 0;
}

html body.admin-menu {
  margin-top: 38px !important;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?hjub75");
  src: url("../fonts/icomoon.eot?hjub75#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?hjub75") format("truetype"), url("../fonts/icomoon.woff?hjub75") format("woff"), url("../fonts/icomoon.svg?hjub75#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-error:before {
  content: "";
}

.icon-comment:before {
  content: "";
}

.icon-flag:before {
  content: "";
}

.icon-mail:before {
  content: "";
}

.icon-send:before {
  content: "";
}

.icon-photo_album:before {
  content: "";
}

.icon-collections_bookmark:before {
  content: "";
}

.icon-local_print_shop:before {
  content: "";
}

.icon-arrow_back:before {
  content: "";
}

.icon-arrow_forward:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-chevron_left:before {
  content: "";
}

.icon-chevron_right:before {
  content: "";
}

.icon-close:before {
  content: "";
}

.icon-expand_less:before {
  content: "";
}

.icon-expand_more:before {
  content: "";
}

.icon-menu:before {
  content: "";
}

.icon-school:before {
  content: "";
}

.icon-get_app:before {
  content: "";
}

.icon-lock_open:before {
  content: "";
}

.icon-lock_outline:before {
  content: "";
}

.icon-settings:before {
  content: "";
}

.icon-supervisor_account:before {
  content: "";
}

.icon-toc:before {
  content: "";
}

.header {
  display: block;
  position: relative;
  border-bottom: 1px solid #ecf0f1;
  background: #2980b9;
}
.header .icon-menu {
  display: inline-block;
  padding: 12px;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
}

.logo {
  display: inline-block;
  vertical-align: top;
  padding: 12px 12px 12px 0;
  margin-bottom: 0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}
.logo:hover {
  color: #3498db;
}

a.btn {
  font-weight: 300;
}

.btn {
  display: inline;
  position: relative;
  margin-bottom: 24px;
  padding: 12px 24px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 30px;
}
.btn.btn-normal {
  background: #2980b9;
  color: #fff;
}
.btn.btn-normal:hover {
  background: #2980b9;
}
.btn.btn-inactive {
  background: #fff;
  color: #fff;
  border: 2px solid #2980b9;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn.btn-active {
  background: #2980b9;
  color: #fff;
}
@media screen and (min-width: 945px) {
  .btn {
    font-size: 16px;
  }
}

.block {
  display: block;
  position: relative;
  background: #fff;
  padding: 0 10px;
  margin-bottom: 24px;
}

.block-row {
  padding: 10px 0;
}
.block-row > img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
}
