.grid:before,
.grid-full:before,
.grid:after,
.grid-full:after,
.cf:before,
ul.floated:before,
.cf:after,
ul.floated:after {
  content: " ";
  display: table;
}
.grid:after,
.grid-full:after,
.cf:after,
ul.floated:after {
  clear: both;
}

.grid {
  width: 100%;
  margin-left: -12px;
}

.grid-item {
  position: relative;
  width: 100%;
  padding-left: 24px;
  float: left;
}

.grid-full {
  margin-left: 0 !important;
  width: 100%;
}

.grid-item-full {
  position: relative;
  width: 100%;
  padding-left: 0 !important;
  float: left;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  height: 100%;
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
}

.container-small {
  position: relative;
  display: block;
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  padding: 0 12px;
}

.container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 12px;
}

.container-large {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 12px;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
}

h1 {
  font-size: 36px;
}
@media screen and (min-width: 945px) {
  h1 {
    font-size: 70px;
    line-height: 92px;
  }
}

h2 {
  font-size: 24px;
}
@media screen and (min-width: 945px) {
  h2 {
    font-size: 36px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 400;
}
@media screen and (min-width: 945px) {
  h3 {
    font-size: 44px;
  }
}

h4 {
  font-size: 21px;
  line-height: 30px;
}

p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

p,
li,
span,
pre {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #8fd521;
  -moz-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
a:hover {
  color: #b8e96a;
}

ul {
  margin-bottom: 0;
}

ul,
li {
  font-size: 16px;
  line-height: 24px;
  color: #65716a;
  text-align: left;
}

ul.floated {
  padding-left: 0;
}
ul.floated li {
  font-size: 16px;
  display: inline-block;
  padding: 6px 12px;
  border: 3px solid #777;
  margin: 0 6px 6px 0;
}

.one-whole {
  width: 100%;
}

.one-half {
  width: 50%;
}

@media screen and (min-width: 945px) {
  .lap-one-half {
    width: 50%;
  }
}

.one-third {
  width: 33.33333%;
}

@media screen and (min-width: 945px) {
  .lap-one-third {
    width: 33.33333%;
  }
}

.two-thirds {
  width: 66.66667%;
}

@media screen and (min-width: 945px) {
  .lap-two-thirds {
    width: 66.66667%;
  }
}

.one-quarter {
  width: 25%;
}

@media screen and (min-width: 945px) {
  .lap-one-quarter {
    width: 25%;
  }
}

.three-quarters {
  width: 75%;
}

@media screen and (min-width: 945px) {
  .lap-three-quarters {
    width: 75%;
  }
}

.one-sixth {
  width: 16.66667%;
}

@media screen and (min-width: 945px) {
  .lap-one-sixth {
    width: 16.66667%;
  }
}

input,
select {
  display: block;
  position: relative;
  width: 100%;
  padding: 12px;
  margin-bottom: 24px;
  background: #fff;
  border: 1px solid #eee;
  font-size: 12px;
  color: #666;
  outline: 0;
}
input:active, input:focus,
select:active,
select:focus {
  border: 1px solid #16a085;
}
@media screen and (min-width: 945px) {
  input,
  select {
    margin-bottom: 24px;
  }
}

label {
  display: block;
  position: relative;
  margin-bottom: 12px;
  font-size: 16px;
  color: #16a085;
}

a.btn {
  font-weight: 300;
}

.btn {
  display: inline;
  position: relative;
  margin-bottom: 24px;
  padding: 12px 24px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 30px;
}
.btn.btn-normal {
  background: #8fd521;
  color: #fff;
}
.btn.btn-normal:hover {
  background: #b8e96a;
}
.btn.btn-inactive {
  background: #fff;
  color: #318251;
  border: 2px solid #318251;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn.btn-active {
  background: #318251;
  color: #fff;
}
@media screen and (min-width: 945px) {
  .btn {
    font-size: 16px;
  }
}

.box {
  display: block;
  position: relative;
  background: #fff;
  padding: 0 10px;
  margin-bottom: 24px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.box-row {
  padding: 10px 0;
}
.box-row > img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
}
